:root {
    --primary-color: #8c0d0d;
    --secondary-color: #ffedc3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: var(--secondary-color);
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary-color);
    color: white;
    flex-wrap: wrap;
}

header img {
    max-width: 60px;
    height: auto;
    border: 2px solid black;
    border-radius: 44px;
    margin-left: 10px;
    margin-top: 5px;
}

header nav {
    margin-left: auto;
    width: 100%;
}

h1 {
    text-align: center;
}
.navigation {
    list-style: none;
    display: none;
    flex-direction: column;
    width: 100%;
}

.navigation.open {
    display: flex;
    
}

.navigation li {
    padding: .5rem;
}

.navigation .current a {
    color: yellow;
    font-weight: bold;
    background-color: #600808;
    padding: 0 10px;
    border-radius: 10px;

}

.navigation .current a:hover {
    color: yellow;
    font-weight: bold;
    background-color: #600808;
    
}

.navigation a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}

#burger-btn {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
    color: white;
}

#burger-btn::before {
    content: "☰";
}

#burger-btn.open::before {
    content: "✖";
}

.navigation a:hover {
    background-color: #d13131;
    padding: .8rem;
    border-radius: 20px;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: white;
}

.info p,
.personal p {
    margin-top: .5rem;
    margin-left: 10px;
    margin-bottom: .5rem;
}

.social {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social img {
    width: 60px;
    height: auto;
    border: 1px solid #fff5f5;
    background-color: #fff5f5;
    padding: .5rem;
    border-radius: 44px;
}

.social img:hover {
    background-color: #999;
    border: #999;
}

/* CARDS */

#members {
    min-height: 600px;
}

#members.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

#members img {
    width: 100%;
    height: auto;
    max-width: 200px;
    border-radius: 20px;
}

#members section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 50px;
    gap: .5rem;
    
}

#members h3, #members p{
    color: white;
}

#members a {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

#members a:hover {
    color: #aaa;
    border-bottom: 2px solid #aaa;
}

#members.list {
    display: flex;
    flex-direction: column;
}

#members.list section {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 2fr;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
}

#members.list section:nth-child(even) {
    background-color: #903f3f;
    
}

#members.list section:nth-child(odd) {
    background-color: #d6a592;
}

#members.list section:nth-child(odd) p, #members.list section:nth-child(odd) h3 {
    color: black;
}

#members.list  a {
    color: blue;
}

#members.list  a:hover {
    color: #eee;

}

#members.list a:hover {
    border: none;
}

#members.list img {
    display: none;
}

/* BUTTONS */

.view-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    background-color: #600808;
    padding: .5rem;
}

.view-btn button {
    font-size: 1.5rem;
    padding: .5rem 1rem;
    cursor: pointer;
    background-color: #999;
    border: 1px solid #999;
    border-radius: 22px;
}

.view-btn button:hover {
    background-color: white;

}


/* HOME PAGE */

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    border: 4px solid rgba(0,0,0,0.2);
    border-radius: 10px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.6);
    color: white;
    text-align: center;
    padding: .5rem;
    border-radius: 8px;
}

.hero-text h2 {
    font-size: 2rem;
    margin-bottom: .75rem;
}


.cta {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;

    background-color: var(--primary-color);
    border-radius: 20px;
}

.cta:hover {
    background-color: #600808;
    color: lightgoldenrodyellow;
    text-decoration: underline;
}

.card {
    background-color: #e6e6e6;
    border-radius: 8px;
    overflow: hidden;
    margin: 1rem;
}

.card-header {
    background-color: #600808;
    color: white;
    padding: .5rem;
    font-size: 1.2rem;
}

.card-body {
    padding: 1rem;
}

.card-body img {
    display: block;
    margin-bottom: 10px;
}

.card-body p {
    margin: 5px 0;
}

#spotlights {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: .5rem;
}

#spotlights section {
    display: flex;
    flex-direction: column;
    background-color: #600808;
    color: white;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
}

#spotlights section a {
    color: white;
    text-decoration: none;
}

#spotlights section a:hover {
    color: #eee;
    font-weight: bold;
    text-decoration: underline;
}


#spotlights img {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: 1rem;
}

#current-temp {
    font-weight: bold;
}

#weather-desc {
    font-weight: bold;
    text-transform: capitalize;
}

#forecast {
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}

/* JOIN */

form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    margin-bottom: .8rem;
    font-weight: 500;
}

input,
select,
textarea {
    padding: .7rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.designOne label {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #000;
}

form [type="submit"] {
    background-color: #731818;
    color: #fff;
    border: none;
    padding: .8rem;
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
}

form [type="submit"]:hover {
    background-color: #333;
}

input:required,
textarea:required,
select:required {
    border-left: 3px solid red;
}

input:required:valid,
textarea:required:valid,
select:required:valid {
    border-left: 3px solid green;
}


.membership-info {
    display: flex;
    flex-direction: column;
}
.info-card{
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    color: white;
    background-color: var(--primary-color);
}

.info-card p {
    margin: .5rem 0;
}

.info-card a {
    display: block;
    margin: 1rem 0;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #340707;
    padding: 1rem;
    border-radius: 50px;
}

.info-card a:hover {
    background-color: #333;
}

dialog {
    position: relative;
    background-color: var(--secondary-color);
    margin: auto;
    padding: 2rem;
    border-radius: 20px;
}   

dialog h2 {
    border-bottom: 3px solid var(--primary-color);
    margin-bottom: 1rem;
}

dialog p {
    
    font-weight: bold;
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 40px;background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn:hover {
    background-color: #d13131;
}

::backdrop {
    background-color: rgb(0 0 0 / 0.7);
}

/* THANK YOU CARD */

.thankyou-card {
    max-width: 500px;
    margin: 40px auto;
    padding: 25px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgb(0 0 0 / 15);
    font-size: 1.1rem;
    line-height: 1.6;
}

.thankyou-card p {
    margin: 10px 0;
}

.thankyou-card strong {
    color: #8c0d0c;
}


/* Animacion */

.info-card {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.8s ease forwards;
}

.info-card:nth-child(1) {
    animation-delay: 0.1s;
}
.info-card:nth-child(2) {
    animation-delay: 0.2s;
}
.info-card:nth-child(3) {
    animation-delay: 0.4s;
}
.info-card:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}