:root {
    --primary-color: #8c0d0d;
    --secondary-color: #ffedc3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: var(--secondary-color);
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary-color);
    color: white;
    flex-wrap: wrap;
}

header img {
    max-width: 60px;
    height: auto;
    border: 2px solid black;
    border-radius: 44px;
    margin-left: 10px;
    margin-top: 5px;
}

header nav {
    margin-left: auto;
    width: 100%;
}

h1 {
    text-align: center;
}
.navigation {
    list-style: none;
    display: none;
    flex-direction: column;
    width: 100%;
}

.navigation.open {
    display: flex;
    
}

.navigation li {
    padding: .5rem;
}

.navigation .current a {
    color: yellow;
    font-weight: bold;
    background-color: #600808;
    padding: 0 10px;
    border-radius: 10px;

}

.navigation .current a:hover {
    color: yellow;
    font-weight: bold;
    background-color: #600808;
    
}

.navigation a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}

#burger-btn {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
    color: white;
}

#burger-btn::before {
    content: "☰";
}

#burger-btn.open::before {
    content: "✖";
}

.navigation a:hover {
    background-color: #d13131;
    padding: .8rem;
    border-radius: 20px;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: white;
}

.info p,
.personal p {
    margin-top: .5rem;
    margin-left: 10px;
    margin-bottom: .5rem;
}

.social {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social img {
    width: 60px;
    height: auto;
    border: 1px solid #fff5f5;
    background-color: #fff5f5;
    padding: .5rem;
    border-radius: 44px;
}

.social img:hover {
    background-color: #999;
    border: #999;
}

/* CARDS */

#members {
    min-height: 600px;
}

#members.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

#members img {
    width: 100%;
    height: auto;
    max-width: 200px;
    border-radius: 20px;
}

#members section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 50px;
    gap: .5rem;
    
}

#members h3, #members p{
    color: white;
}

#members a {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

#members a:hover {
    color: #aaa;
    border-bottom: 2px solid #aaa;
}

#members.list {
    display: flex;
    flex-direction: column;
}

#members.list section {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 2fr;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
}

#members.list section:nth-child(even) {
    background-color: #903f3f;
    
}

#members.list section:nth-child(odd) {
    background-color: #d6a592;
}

#members.list section:nth-child(odd) p, #members.list section:nth-child(odd) h3 {
    color: black;
}

#members.list  a {
    color: blue;
}

#members.list  a:hover {
    color: #eee;

}

#members.list a:hover {
    border: none;
}

#members.list img {
    display: none;
}

/* BUTTONS */

.view-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    background-color: #600808;
    padding: .5rem;
}

.view-btn button {
    font-size: 1.5rem;
    padding: .5rem 1rem;
    cursor: pointer;
    background-color: #999;
    border: 1px solid #999;
    border-radius: 22px;
}

.view-btn button:hover {
    background-color: white;

}


/* HOME PAGE */

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    border: 4px solid rgba(0,0,0,0.2);
    border-radius: 10px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.6);
    color: white;
    text-align: center;
    padding: .5rem;
    border-radius: 8px;
}


.cta {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;

    background-color: var(--primary-color);
    border-radius: 20px;
}

.cta:hover {
    background-color: #600808;
    color: lightgoldenrodyellow;
    text-decoration: underline;
}

.card {
    background-color: #e6e6e6;
    border-radius: 8px;
    overflow: hidden;
    margin: 1rem;
}

.card-header {
    background-color: #600808;
    color: white;
    padding: .5rem;
    font-size: 1.2rem;
}

.card-body {
    padding: 1rem;
}

.card-body img {
    display: block;
    margin-bottom: 10px;
}

.card-body p {
    margin: 5px 0;
}

#spotlights {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: .5rem;
}

#spotlights section {
    display: flex;
    flex-direction: column;
    background-color: #600808;
    color: white;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
}

#spotlights section a {
    color: white;
    text-decoration: none;
}

#spotlights section a:hover {
    color: #eee;
    font-weight: bold;
    text-decoration: underline;
}


#spotlights img {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: 1rem;
}

#current-temp {
    font-weight: bold;
}

#weather-desc {
    font-weight: bold;
    text-transform: capitalize;
}

#forecast {
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}